[Unit]
Description=Postgres Database Server

[Container]
Image=docker.io/postgres
Volume=postgres.volume:/var/lib/postgresql/data
Environment=POSTGRES_HOST_AUTH_METHOD=trust
AutoUpdate=registry
ExposeHostPort=5432
# set a container name to be used as hostname while referencing this container
ContainerName=postgres
Network=internal.network

[Service]
Restart=always

[Install]
WantedBy=default.target
